
h1 {
    margin: 30px;
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: 40px;
}

.instructions {
    margin-right: 300px;
    margin-left: 300px;
    font-family: 'Open Sans Condensed', sans-serif;
    line-height: 20px;
}


#random-number {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
}


#number {
    font-family: 'Playfair Display', serif;
    font-size: 50px;
}